{% extends 'contact/base.html' %}
{% block title %}About | Swati Tiwari{% endblock %}

{% block content %}
<!-- About Section -->
<section class="container py-5">
  <h2 class="text-center mb-4">About Me</h2>
  <p class="text-center">
    I'm <strong>Swati Tiwari</strong>, a self-motivated and detail-oriented BSc IT graduate with hands-on experience in Python, Django, HTML/CSS, and SQL. Skilled in building web-based applications and understanding backend logic, APIs, and databases. Completed an internship in cloud and server management and developed a full-stack Online Examination System. Eager to contribute to a software development team with a strong foundation in programming, problem-solving, and Agile principles. Actively building projects and upskilling toward a full-stack development role.
  </p>

  <hr />

  <h3 class="mt-5">Education</h3>
  <div class="mt-4">
    <div class="mb-3">
      <h5><strong>Bachelor of Science (Information Technology)</strong></h5>
      <p class="mb-1">(2022–2025) – Scored: 9.10 CGPA / 86.45%</p>
    </div>

    <div class="mb-3">
      <h5><strong>12<sup>th</sup> Science (DNC College)</strong></h5>
      <p class="mb-1">(2020–2022) – Scored: 63.17%</p>
    </div>

    <div class="mb-3">
      <h5><strong>10<sup>th</sup> (Sai English High School)</strong></h5>
      <p class="mb-1">(2014–2020) – Scored: 81.60%</p>
    </div>
  </div>
</section>
{% endblock %}
